body {
    font-family: verdana, arial, helvetica;
}


.video-js {
    display: none;
}


.video-js.active {
    display: block;
}


#lab1-stage {
    width: 640px;
    height: 360px;
    background-color: black;
    color: white;
}